.gallery {
    width: 1400px;
    height: 800px;
    float: left;
    background-color: white;

    &__button {
        &-container {
            width: 5%;
            height: 90%;
            float: left;
            background-color: white;
            position: relative;

            &__button {
                height: 50px;
                width: 50px;
                background-color: darkorange;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                margin-left: 10px;
                text-align: center;
                font-size: 50px;
                border-radius: 50%;
            }
        }
    }

    &__image {
        width: 90%;
        height: 90%;
        float: left;
        background-color: white;
        &-item {
            width: 100%;
            height: 100%;
            display: none;

            &--active {
                display: block;
            }
        }
    }

    &__indicators {
        width: 100%;
        height: 10%;
        float: left;
        background-color: darkorange;
    }
}
