.about {
  width: 1600px;
  float: left; }

.header {
  width: 1600px;
  height: 270px;
  float: left;
  background-color: white; }
  .header__title {
    width: 460px;
    height: 100px;
    float: left;
    margin-left: 580px;
    margin-top: 85px;
    background-color: white;
    text-align: center;
    opacity: 0.9; }

.main {
  width: 1600px;
  height: 400px;
  float: left; }
  .main__containerImg {
    width: 550px;
    height: 400px;
    float: left;
    margin-left: 200px;
    margin-right: 50px;
    background-color: white; }
  .main__containerText {
    width: 550px;
    height: 400px;
    float: left;
    margin-left: 50px;
    margin-right: 200px;
    background-color: white; }
  .main .paragraph {
    width: 450px;
    height: 180px;
    float: left;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    font-size: 15px;
    color: grey;
    letter-spacing: 1px;
    line-height: 1.5;
    opacity: 0.8; }
  .main .button {
    width: 550px;
    height: 120px;
    float: left;
    background-color: white; }
  .main .icon {
    width: 550px;
    height: 40px;
    float: left;
    background-color: white;
    text-align: center;
    color: red;
    margin-top: 60px;
    letter-spacing: 3px;
    font-size: 18px;
    opacity: 0.9; }
  .main .readMore {
    width: 120px;
    height: 40px;
    float: left;
    background-color: red;
    color: white;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    margin-left: 215px;
    margin-top: 40px;
    opacity: 0.9; }

.footer {
  width: 1600px;
  height: 90px;
  float: left;
  background-color: white; }

.menu {
  width: 1600px;
  height: 900px;
  float: left;
  background-color: white; }

.menuText {
  width: 1600px;
  height: 100px;
  float: left;
  background-color: white;
  text-align: center;
  opacity: 0.9;
  margin-top: 50px; }

.container {
  width: 751px;
  height: 500px;
  background-color: white;
  float: left;
  margin-left: 200px;
  margin-top: 150px; }
  .container__box {
    width: 250px;
    height: 250px;
    background-color: white;
    float: left;
    position: relative; }
  .container__square {
    width: 30px;
    height: 30px;
    background-color: white;
    float: left;
    transform: rotate(45deg);
    position: absolute; }
  .container .right {
    right: -16px;
    top: 135px;
    border-top: solid 1px red;
    border-right: solid 1px red; }
  .container .top {
    right: 135px;
    top: -16px;
    border-top: solid 1px red;
    border-left: solid 1px red; }
  .container .left {
    top: 135px;
    left: -16px;
    border-bottom: solid 1px red;
    border-left: solid 1px red; }
  .container .border_right {
    border-right: solid 1px red; }
  .container .border_top {
    border-top: solid 1px red; }
  .container .border_left {
    border-left: solid 1px red; }
  .container .title {
    width: 220px;
    height: 75px;
    float: left;
    z-index: 6;
    padding-top: 15px;
    padding-left: 30px;
    letter-spacing: 2px;
    text-shadow: 1px 1px grey;
    font-family: serif;
    font-size: 20px;
    color: grey;
    opacity: 0.6; }
  .container .text {
    width: 195px;
    height: 180px;
    float: left;
    z-index: 6;
    padding-left: 30px;
    padding-right: 20px;
    font-family: sans-serif;
    opacity: 0.8; }

.menuRight {
  width: 380px;
  height: 650px;
  float: left;
  background-color: red; }
  .menuRight__top {
    width: 360px;
    height: 100px;
    float: left;
    letter-spacing: 2px;
    font-family: serif;
    font-size: 35px;
    color: white;
    margin-left: 20px; }
  .menuRight__text {
    width: 360px;
    height: 150px;
    float: left;
    font-family: sans-serif;
    color: white;
    margin-left: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.2; }
  .menuRight__button {
    width: 360px;
    height: 50px;
    float: left;
    margin-left: 20px; }
  .menuRight__bottom {
    width: 360px;
    height: 50px;
    float: left;
    letter-spacing: 2px;
    font-family: serif;
    color: white;
    margin-left: 20px;
    font-weight: bold; }
  .menuRight__list {
    width: 340px;
    height: 300px;
    float: left;
    margin-left: 20px;
    color: white;
    font-family: sans-serif; }

.buttonKocki {
  width: 260px;
  height: 40px;
  float: left;
  background-color: white;
  font-family: sans-serif;
  border: none;
  cursor: pointer; }

.reservation {
  width: 1600px;
  height: 900px;
  float: left;
  background-color: white; }
  .reservation__title {
    width: 460px;
    height: 100px;
    float: left;
    margin-left: 580px;
    margin-top: 85px;
    background-color: white;
    text-align: center;
    opacity: 0.9; }
  .reservation__container {
    width: 1200px;
    height: 700px;
    float: left;
    margin-left: 200px;
    background-image: url(../img/Signatures-web-1200x700.jpg); }
  .reservation__smallContainer {
    width: 270px;
    height: 30px;
    margin-top: 60px;
    margin-left: 75px;
    float: left;
    border: white 1px solid;
    padding-top: 30px;
    padding-left: 30px; }
  .reservation__bigContainer {
    width: 1020px;
    height: 220px;
    margin-top: 60px;
    margin-left: 75px;
    float: left;
    border: white 1px solid;
    padding-top: 30px;
    padding-left: 30px; }
  .reservation__button {
    width: 120px;
    height: 40px;
    margin-top: 55px;
    margin-left: 540px;
    float: left; }

.reservationB {
  width: 120px;
  height: 40px;
  float: left;
  background-color: red;
  color: white;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
  opacity: 0.9; }

.blog {
  width: 1600px;
  height: 1200px;
  float: left;
  background-color: white; }
  .blog__title {
    width: 1200px;
    height: 100px;
    float: left;
    background-image: url(../img/spa_banner2-1200x100.jpg);
    margin-left: 200px;
    text-align: center;
    opacity: 0.9; }
  .blog__container {
    width: 1200px;
    height: 500px;
    float: left;
    margin-left: 200px;
    margin-top: 50px; }
  .blog__date {
    width: 100px;
    height: 150px;
    float: left;
    background-color: red;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px; }
  .blog__header {
    width: 800px;
    height: 60px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    opacity: 0.9; }
  .blog__image {
    width: 300px;
    height: 300px;
    float: left;
    background-image: url(../img/blog.jpg);
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 5px; }
  .blog__text {
    width: 450px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-indent: 20px; }

.contact {
  width: 1600px;
  height: 1000px;
  float: left;
  background-color: white; }
  .contact__title {
    width: 1400px;
    height: 100px;
    float: left;
    margin-left: 200px;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-decoration: underline red; }
  .contact__containerLeft {
    width: 440px;
    height: 800px;
    float: left;
    margin-left: 200px;
    margin-top: 50px;
    background-color: white;
    border: 5px solid red; }
  .contact__containerRight {
    width: 900px;
    height: 700px;
    float: left;
    margin-left: 50px;
    margin-top: 100px;
    background-image: url(../img/mapa-huelva.jpg); }
  .contact__contactRight {
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 300px;
    margin-top: 100px;
    background-color: #fc5425;
    text-align: center;
    border-radius: 5px; }
  .contact__box {
    width: 250px;
    height: 40px;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    background-color: white;
    border-radius: 5px; }
  .contact__bigBox {
    width: 250px;
    height: 130px;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    background-color: white;
    border-radius: 5px; }
  .contact__containerLeftText {
    width: 440px;
    height: 200px;
    float: left;
    background-color: gainsboro;
    margin-left: 10px; }
  .contact__containerLeftImg {
    width: 440px;
    height: 200px;
    float: left;
    background-color: white; }
  .contact__text1 {
    width: 430px;
    height: 160px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: black; }
  .contact__image {
    width: 100px;
    height: 100px;
    float: left;
    background-color: red;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 10px; }

.contactB {
  width: 150px;
  height: 40px;
  float: left;
  margin-left: 75px;
  margin-top: 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: red;
  font-family: sans-serif; }
